*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:root {
	--primaryPurple: #646ff0;
	--black-1: #646681;
	--black-2: #585858;
	--bg-1: #f8f8ff;
	--bg-2: #ecedf6;
	--bg-3: #cccdde;
	--gray-1: #eee;
	--gray-2: #dedfe1;
	--black: black;
	--white: white;
}
html {
	font-size: 10px;
}
body {
	font-family: 'Poppins', sans-serif;
	width: 100%;
	min-height: 100vh;
	background-color: var(--bg-1);
}
* {
	font-family: 'Poppins', sans-serif;
}
.container {
	width: 80%;
	max-width: 1200px;
	margin: 0 auto;
	font-size: 1.6rem;
}

.container>* {
	margin: .5rem auto;
}


/* todo list */
.todo-list ul {
	/* list-style: none; */
	/* text-decoration: none; */
	list-style-type: none;
	padding: 0;
}
.todo-list input {
	margin-right: 1rem;
}
.rm {
	background-color: red;
	color: #fff;
	border: #000 solid 0;
	border-radius: 50%;
	cursor: pointer;
	padding: 3px;
}

.todo-item {
	margin: 0 auto .5rem;
	padding: .5rem 1rem;
	border: 1px solid #ccc;
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.done {
	text-decoration: line-through;
}